.active{
    display: block !important;
}
.profile_address_btn{
    height: 170px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px !important;
    flex-direction: column;
}
.profile-address-cart{
    background-color: #fff;
    position: relative;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 98%;
    margin: 20px auto;
    border: 1px solid #e7e7e7;
}
.profile-address-cart::before{
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    top:0;
    background: linear-gradient(90deg,#00bfd6 48px,#ff7e7e 48px) repeat-x;
    background-size: 96px 3px;
}
.profile-address-cart-desc{
    padding:25px 30px 15px;
    min-height: 120px;
}
.profile-address-cart-desc h4{
    margin-bottom: 5px;
    color:#6d6d6d;
    font-size: 17px !important;
}
.profile-address-cart-desc p{
    font-size: 14px !important;
    color: #979797;
    padding-top: 5px;
}
.profile-address-cart-data{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-top:1px solid #e7e7e7;
    padding:20px 10px !important;
}
.profile-address-cart-data ul li{
    list-style: none;
    color: #979797;
    padding-top: 10px;
    font-size: 16px;
}
.address-form .v-card__title{
    display: flex;
    justify-content: space-between;
}
.address-form .search-field{
    background: #fff;
    border-radius: 8px;
    position: absolute;
    top: 8px;
    right: 0;
    z-index: 1000000;
    width:80%;
    margin-right:9%;
}
.address-form .search-content{
    position: absolute;
    top:54px;
    padding: 10px 16px 0 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.3);
    background-color: #fff;
    z-index: 10000;
    max-height: 200px;
    width: 100%;
    overflow-y: scroll;
    border-top:1px solid rgba(0,0,0,.42);
}
.address-form .theme--light.v-text-field--solo-inverted.v-input--is-focused > .v-input__control > .v-input__slot input{
    color: black !important;
}
.address-form  .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) > .v-input__control > .v-input__slot
{
    box-shadow: none !important;
}
.address-detail{
    color: white !important;
    letter-spacing:normal !important;
}
.address-form .v-text-field--outlined.v-input--has-state fieldset, .address-form .v-text-field--outlined.v-input--is-focused fieldset
{
    border-width:1px !important;
}
.address_btn{
    letter-spacing: normal !important;
    color:white !important;
}
.address_row{
    margin:20px auto;
    width:100%;
    padding-top:10px;
    cursor:pointer;
    border-radius:5px;
    -webkit-border-radius:5px;
    background:#fff;
    border:1px solid #e8e8e8;
    box-shadow: 0 8px 13px -7px rgba(0,0,0,.05);
}
.address_row ul{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:100%;
    padding-left:10px;
    padding-right:8px;
    color:#a0a0a0;
    line-height:2;
}
.address_row .checkout_address{
    margin-right:15px;
    margin-top: 15px;
    margin-bottom:10px;
    color: #a0a0a0;
}
.address_row ul li{
    list-style:none;
    padding-left:15px;
    font-size:15px;
}
.address_row h6{
    margin-top:10px;
    padding:10px 15px 0 10px;
}
.checkout_contact{
    width:41px;
    height:41px;
    background-color: #fefeff;
    border:1px solid #8dd4dd;
    box-shadow: 0 8px 9px 0 rgba(0,0,0,.05);
    border-radius:50%;
    -webkit-border-radius:50%;
    position:absolute;
    top:calc(50% - 20px);
    right:-20px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.default_address{
    padding-top:0 !important;
    margin-top:0 !important;
    position:relative;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .15);
}
.default_address h6{
    margin-top:0 !important;
}
.default_address::before{
    width:5px;
    background:#8dd4dc;
    position:absolute;
    top:0;
    bottom:0;
    content:"";
    right:-1px;
}
.default_address ul{
    justify-content: right !important;
    margin-top:10px;
}
.box_border{
    padding:15px;
    border:1px solid #e8e8e8;
}
.address_box{
    width:100%;
    background:white;
    margin-bottom:20px;
}
.add_address_btn{
    width:98%;
    margin:auto;
    border:4px dashed #b8b8b8;
    background:#FFF;
    min-height:70px;
    display:flex;
    justify-content:center;
    color: #a0a0a0;
    letter-spacing: -0.3px;
}
.add_address_btn strong{
    font-size:20px;
    padding:14px 22px;
}
.select_address_label{
    display:flex;
    justify-content: space-between;
    padding:15px 10px;
}
.selected_address{
    background-color:#f7fdfd !important;
    border-top-color:#e0eff0 !important;
}
.change_address_btn{
    position:absolute;
    left:0px;
}
.change_address_btn .v-btn__content{
    color: black !important;
}
.order-address .address_btn .v-btn__content{
    color: black !important;
}
.checkout_address_btn{
    background-color: #f5f5f5;
    width:100%;
    padding:6px 0px;
    margin-top:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #e0e0e0;
    color: #636363;
    font-size:13px;
    cursor:pointer;
}
.send_btn.v-btn{
    letter-spacing:normal !important;
}
.address-form h5{
    font-family: inherit !important;
}
.address-form .v-card__title{
    font-family: inherit !important;
}
.address-dialog{
    background:white;
    height:120px;
    font-size:16px;
    padding:20px;
    border-radius:4px;
    -webkit-border-radius:4px;
    text-align:center;
    box-shadow:0 1px 4px 0px rgba(0,0,0,.1);
}
.message_box #msg{
    font-size:15px !important;
}
.address-form{
    padding-top:10px;
}
.address-form .v-text-field--outlined.v-input--has-state fieldset, .address-form .v-text-field--outlined.v-input--is-focused fieldset
{
    border-width:1px !important;
}
.set-detail{
    position: fixed;
    bottom:20px;
    left: 20px;
    z-index: 9999999;
    background-color:rgb(239, 57, 78) !important;
    border-color:rgb(239, 57, 78) !important;
    color: white !important;
    letter-spacing: normal !important;
}
.mobile-theme-search-address .v-toolbar__content{
    padding: 0px !important;
}
.mobile-theme-search-address .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) > .v-input__control > .v-input__slot
{
    box-shadow: none !important;
}
.mobile-default-address h6{
    font-weight: bold;
    padding: 10px;
    font-size: 15px;
    border-bottom: 1px solid #e5e5ea;
}
.mobile-default-address .address_content{
    padding: 10px;
}
.mobile-default-address .address_content ul{
    width:100%;
    margin-top:10px;
    display:inline-flex;
    font-size: 14px;
}
.mobile-default-address .address_content ul li{
    width: 50%;
    list-style: none;
}
.mobile-default-address .address_content ul {
    width: 100%;
    margin-top: 10px;
    display:flex;
    font-size: 14px;
    padding-left:0px !important;
}
.mobile-default-address .address_content ul li {
    width: 50%;
    list-style: none;
}
.show_other_item {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    color: #00bfd6 !important;
    font-size: 14px;
    align-items: center;
    margin-top:10px;
}
.mobile-default-address{
    margin:10px 0px;
}
.mobile-default-address .address_item_header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5ea;
    align-items: center;
}
.loading-logo{
    width: 100px;
    margin: auto;
    display: block;
}
@media (max-width:960px) {
    .profile-address-cart-data{
        flex-wrap: wrap;
    }
    .profile-address-cart{
        height: 280px !important;
    }
    .product_item_box{
        background: white;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        border:1px solid #f6f6f6;
        box-shadow: 1px 1px 4px 0 rgba(0,0,0,.09);
    }
    .select_address_tag{
        color:#00bfd6;
        text-align: center;
        display: block;
        cursor: pointer;
        font-size:14px;
        padding:10px 0px;
    }
    .shipping_data_box .v-label{
        text-align:right !important;
    }
    .shipping_data_box .product_info_box{
        width:130px !important;
    }
    .shipping_data_box .v-slide-group__next, .shipping_data_box .v-slide-group__prev{
        min-width:40px !important;
    }
    .checkout_action{
        padding-left: 0 !important;
        display: flex;
        justify-content: space-between !important;
        font-size:14px;
    }
}
